@keyframes fadeIn {
    0% { opacity: 0;}
    100% {opacity: 1;}
}

@keyframes expands {
    0% { max-height: 0;}
    50% { max-height: 100vh;}
    100% { max-height: auto;}
}

@keyframes glowBorder {
    0% {    
        -webkit-box-shadow:0 0 20px #ff000000; 
        -moz-box-shadow: 0 0 20px #ff000000; 
        box-shadow:0 0 20px #ff000000;
    }
    50% {
        -webkit-box-shadow:0 0 20px #ff000080; 
        -moz-box-shadow: 0 0 20px #ff000080; 
        box-shadow:0 0 20px #ff000080; 
    }
    100% {    
        -webkit-box-shadow:0 0 20px #ff000000; 
        -moz-box-shadow: 0 0 20px #ff000000; 
        box-shadow:0 0 20px #ff000000;
    }
}

.PETCert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40vw;
    max-width: 35rem;

    border-top: #f0f0f0 1px solid;
    border-bottom: #f0f0f0 1px solid;
    letter-spacing: 0.2rem;

    transition: 2s all;
    animation: 5s ease-in-out 0s 1 expands;
}

.PETCert > * {
    opacity: 0;
    transition: 2s all;
    animation: 2s ease-in-out 1s 1 fadeIn forwards;
}

.PETCert > h1 {
    font-size: 2.25rem;
    line-height: 1.3;
    letter-spacing: 0.5rem;
    font-weight: 500;
}

#inputs-container, .certificate-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    
    max-width: 100%;
    min-width: fit-content;

    justify-content: center;
    align-items: center;
    font-size: 0.6rem;

    gap: 1.4rem 0rem;
}

.input-container, .button-container, .hash-container, .pdf-container, .key-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    flex-basis: 50%;
    
    gap: 0.5rem;
}

.input-container > input, #inputs-container > button, .hash-container > input, .pdf-container > input, .pdf-container > button, .key-container > input {
    background-color: transparent;

    font: large light;
    color: #f0f0f0ff;

    border: #f0f0f0 solid 0.1rem;
    text-align: center;
    width: 10rem;
    border-radius: 4px;

    line-height: 2rem;

    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8rem;

    transition: all 0.5s;
}

#inputs-container > button {
    margin-bottom: 3vh;
    background-color: #f0f0f0ff;
    color: #1b1f22;

    font-size: 0.75rem;
    transition: all 0.5s;
    font-weight: 500;
}

#inputs-container > button:hover {
    background-color: #1b1f22;
    color: #f0f0f0ff;
    transition: all 0.5s;
    cursor: pointer;
}

.input-container > input:focus, .pdf-container > input:focus, .key-container > input:focus {
    border-color: transparent;
    border-bottom: #f0f0f0 solid 0.1rem;
    outline: 0;

    transition: border 0.5;
}

.input-container > input:placeholder-shown, .pdf-container > input:placeholder-shown {
    animation: 2s ease-in 1s 1 glowBorder;
    animation-iteration-count: infinite;
}

.input-container > input[type=file], .pdf-container > input[type=file] {
    display: none;
}

.button-container > button {
    background-color: transparent;

    border: #f0f0f0 solid 0.1rem;
    text-align: center;
    border-radius: 4px;
    
    width: 3rem;
    height: 3rem;

    color: #f0f0f0ff;
}

.button-container > button:hover {
    background-color: #1b1f22;
    color: #f0f0f0ff;
    transition: all 0.5s;
    cursor: pointer;
}

.button-container > button > img {
    width: 1.5rem;
    filter: grayscale(1) invert(1);
}

.certificate-pdf-container {
    display: flex;
}

.certificate-container {
    margin: 0 0 1rem 0;
    gap: 0.5rem;
}