.PETCert {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
    width: 40vw;


    border-top: #f0f0f0 1px solid;
    border-bottom: #f0f0f0 1px solid;
}

#inputs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25%;
    
    height: 30vh;
    width: 40vw;

    justify-content: center;
    align-items: center;
}

#inputs-container > div {
    flex-grow: 50%;
    position: relative;
    
}

#inputs-container > div > input, #inputs-container > button {
    background-color: transparent;

    font: large light;
    color: #f0f0f0ff;

    border: #f0f0f0 solid 0.1rem;
    text-align: center;
    width: 16rem;
}

#inputs-container > button {
    margin: 0 10vw;
}