.PETCert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40vw;

    border-top: #f0f0f0 1px solid;
    border-bottom: #f0f0f0 1px solid;
    letter-spacing: 0.2rem;
}

.PETCert > h1 {
    font-size: 2.25rem;
    line-height: 1.3;
    letter-spacing: 0.5rem;
    font-weight: 500;
}

#inputs-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    
    width: 40vw;

    justify-content: center;
    align-items: center;
    font-size: 0.6rem;

    gap: 1.4rem 0rem;
}

#inputs-container > div {
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}

#inputs-container > div > input, #inputs-container > button {
    background-color: transparent;

    font: large light;
    color: #f0f0f0ff;

    border: #f0f0f0 solid 0.1rem;
    text-align: center;
    width: 12rem;
    border-radius: 4px;

    line-height: 2rem;

    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}

#inputs-container > button {
    margin-bottom: 3vh;
    background-color: #f0f0f0ff;
    color: #1b1f22;

    font-size: 0.75rem;
    transition: all 0.5s;
}

#inputs-container > button:hover {
    background-color: #1b1f22;
    color: #f0f0f0ff;
    transition: all 0.5s;
}